<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <!--bootstrap响应式-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>金关二期海关端</title>

    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/static/src/bootstrap-2.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/src/bootstrap-2.3.2/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/src/DataTables/DataTables-1.10.16/css/jquery.dataTables.min.css"/>

    <script type="text/javascript" src="/static/src/jQuery-1.12.3/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/static/src/bootstrap-2.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/src/DataTables/DataTables-1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/js/jQuery.form.min.js"></script>
</head>
<body style="width: 1366px;">
<!--bootstrap栅格-->
<div class="row-fluid jgHead">
    <div class="span8 offset1 jgTitle">
        <h4>天 津 海 关 特 殊 监 管 区 域 金 关 二 期 对 接 系 统 <span class="jgHg">海关端</span></h4>
        <h5>Tianjin Customs Special Supervision Region Jinguan Phase II Docking System</h5>
    </div>
    <div class="span1 jgTitle"></div>
</div>
<div class="row-fluid">
    <div class="span2 jgMenu">
        <!--信息面板-->
        <div class="alert alert-info jgPanel" style="font-size: 10px">
            <div>
                <ul style="margin: 0">
                    <li>
                        <span>所属区域：</span>
                        <span>保税区海港</span>
                    </li>
                    <li>
                        <span>科室：</span>
                        <span>物流监管科</span>
                    </li>
                    <li>
                        <span>工号：</span>
                        <span>0208123456</span>
                    </li>
                    <li>
                        <span>姓名：</span>
                        <span>小明</span>
                    </li>
                    <li style="text-align: center; margin-top: 5px">
                        <button class="btn btn-small btn-danger" type="button">退出</button>
                    </li>
                </ul>
            </div>
        </div>
        <!--menu-->
        <ul class="nav nav-tabs nav-stacked mainMenu">
            <li><a href="../home.html"><i class="icon-home"></i>首页</a></li>
            <li class="active"><a href="nonprotect.html"><i class="icon-list-alt"></i>非保业务</a></li>
            <li><a href="#"><i class="icon-list"></i>跨境电商业务</a></li>
            <li><a href="#"><i class="icon-search"></i>统计查询</a></li>
            <li><a href="#"><i class="icon-cog"></i>参数配置</a></li>
        </ul>
    </div>
    <div class="span10" style="margin: 0!important;">
        <!--面包屑导航-->
        <ul class="breadcrumb">
            <li><a href="/">首页</a> <span class="divider">/</span></li>
            <li><a href="nonprotect.html">非保业务</a> <span class="divider">/</span></li>
            <li class="active">关区区域维护</li>
        </ul>
        <div class="row-fluid">
            <div class="span4" style="margin-left: 20px">
                <button type="button" id="areaAddBtn" data-toggle="modal" class="btn btn btn-success">新建</button>
                <!--<button type="button" id="areaEditBtn" data-toggle="modal" class="btn btn btn-success">编辑</button>-->
                <button type="button" id="areaRefreshBtn" class="btn btn btn-success">刷新</button>
            </div>
        </div>
        <!--新建模态框-->
        <div id="areaNewModal" class="modal hide fade" style="width: 60%; left: 40%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>关区区域维护</h3>
            </div>

            <!--表单新建-->
            <form id="areaNewForm" action="http://localhost:8071/area/save" method="post">
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="span2 text-right">区域代码：</div>
                        <div class="span2">
                            <input id="areaCodeNew" type="text" name="areaCode" class="input-small" required>
                        </div>
                        <!---->
                        <div class="span2 text-right">区域名称：</div>
                        <div class="span2">
                            <input id="areaNameNew" type="text" name="areaName" class="input-small" required>
                        </div>
                        <!---->
                        <div class="span2 text-right">关区代码：</div>
                        <div class="span2">
                            <input id="regionCodeNew" type="text" name="regionCode" class="input-small" required>
                        </div>
                    </div>
                    <!---->
                    <div class="row-fluid">
                        <div class="span2 text-right">关区名称：</div>
                        <div class="span2">
                            <input id="regionNameNew" type="text" name="regionName" class="input-small" required>
                        </div>
                        <!---->
                        <div class="span2 text-right">使用状态：</div>
                        <div class="span2">
                            <select id="statusNew" name="status" class="input-small" title="">
                                <option value="0" selected>启用</option>
                                <option value="1">停用</option>
                            </select>
                        </div>
                        <!---->
                        <div class="span2 text-right">录入人：</div>
                        <div class="span2">
                            <input id="createNameNew" type="text" class="input-small" readonly>
                        </div>
                    </div>
                    <!---->
                    <div class="row-fluid">
                        <div class="span2 text-right">录入日期：</div>
                        <div class="span2">
                            <input id="createDateNew" type="text" class="input-small" readonly>
                        </div>
                        <!---->
                        <div class="span2 text-right">最后编辑人：</div>
                        <div class="span2">
                            <input id="optNameNew" type="text" class="input-small" readonly>
                        </div>
                        <!---->
                        <div class="span2 text-right">最后编辑日期：</div>
                        <div class="span2">
                            <input id="optDateNew" type="text" class="input-small" readonly>
                        </div>
                        <div style="display: none">
                            <input id="newToken" name="token" title="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button id="areaNewSubmit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>

        <!--编辑模态框-->
        <div id="areaEditModal" class="modal hide fade" style="width: 60%; left: 40%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>关区区域维护</h3>
            </div>
            <!--表单-->
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span2 text-right">区域代码：</div>
                    <div class="span2">
                        <input id="areaCodeModal" type="text" name="areaCode" class="input-small">
                    </div>
                    <!---->
                    <div class="span2 text-right">区域名称：</div>
                    <div class="span2">
                        <input id="areaNameModal" type="text" name="areaName" class="input-small">
                    </div>
                    <!---->
                    <div class="span2 text-right">关区代码：</div>
                    <div class="span2">
                        <input id="regionCodeModal" type="text" name="regionCode" class="input-small">
                    </div>
                </div>
                <!---->
                <div class="row-fluid">
                    <div class="span2 text-right">关区名称：</div>
                    <div class="span2">
                        <input id="regionNameModal" type="text" name="regionName" class="input-small">
                    </div>
                    <!---->
                    <div class="span2 text-right">使用状态：</div>
                    <div class="span2">
                        <select id="statusModal" name="status" class="input-small" title="">
                            <option value="0" selected>启用</option>
                            <option value="1">停用</option>
                        </select>
                    </div>
                    <!---->
                    <div class="span2 text-right">录入人：</div>
                    <div class="span2">
                        <input id="createNameModal" name="createName" type="text" class="input-small" readonly>
                    </div>
                </div>
                <!---->
                <div class="row-fluid">
                    <div class="span2 text-right">录入日期：</div>
                    <div class="span2">
                        <input id="createDateModal" name="createDate" type="text" class="input-small" readonly>
                    </div>
                    <!---->
                    <div class="span2 text-right">最后编辑人：</div>
                    <div class="span2">
                        <input id="optNameModal" name="optName" type="text" class="input-small" readonly>
                    </div>
                    <!---->
                    <div class="span2 text-right">最后编辑日期：</div>
                    <div class="span2">
                        <input id="optDateModal" name="optDate" type="text" class="input-small" readonly>
                    </div>
                    <div style="display: none">
                        <input id="editToken" name="token">
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button id="areaEditSubmit" href="#" class="btn btn-primary">保存</button>
            </div>
        </div>
        <!---->
        <hr/>
        <!--搜索区域-->
        <form id="areaGqSearchFrom" action="" method="post">
            <div class="row-fluid">
                <div class="span2 text-right">区域代码：</div>
                <div class="span2">
                    <input id="areaCodeSearch" type="text" name="areaCode" class="input-medium" placeholder="">
                </div>
                <!---->
                <div class="span2 text-right">区域名称：</div>
                <div class="span2">
                    <input id="areaNameSearch" type="text" name="areaName" class="input-medium" placeholder="">
                </div>
                <!---->
                <div class="span2 text-right">关区代码：</div>
                <div class="span2">
                    <input id="regionCodeSearch" type="text" name="regionCode" class="input-medium" placeholder="">
                </div>
            </div>
            <div class="row-fluid">
                <!---->
                <div class="span2 text-right">关区名称：</div>
                <div class="span2">
                    <input id="regionNameSearch" type="text" name="regionName" class="input-medium" placeholder="">
                </div>
                <!---->
                <div class="span2 text-right">状态：</div>
                <div class="span2">
                    <select id="statusSearch" name="status" class="input-medium" title="">
                        <option selected value="">启用</option>
                        <option value="">未启用</option>
                        <option value="">停用</option>
                    </select>
                </div>
                <div class="span2 offset2">
                    <button type="button" id="areaSearch" class="btn btn-primary">查询</button>
                </div>
            </div>
        </form>
        <!---->
        <hr/>
        <!--表格-->
        <div class="row-fluid">
            <div class="span12" style="margin-left: 20px">
                <table id="arMaTable" class="display table table-bordered table-striped table-hover"></table>
            </div>
        </div>


    </div>
</div>

<script language="javascript">
    var host = 'http://localhost:8071/';
    var selectQyId;

//-------------------编辑保存-----------------
    function selectQyEdit(id){
        console.log(id);
        selectQyId = id;

        ajaxEdit(selectQyId);
        $('#areaEditModal').modal({
            keyboard: false, backdrop: 'static'
        });
    }

    function ajaxEdit(id) { //编辑查询
        $.ajax({
            type: 'GET',
            url: host + 'area/edit/' + id,
            success: function (data) {
                console.log(data);
                //编辑窗口数据
                $('#areaCodeModal').val(data.areaCode);
                $('#areaNameModal').val(data.areaName);
                $('#regionCodeModal').val(data.regionCode);
                $('#regionNameModal').val(data.regionName);
                $('#statusModal').val(data.status);
                $('#createNameModal').val(data.createName);
                $('#createDateModal').val(data.createDate);
                $('#optNameModal').val(data.optName);
                $('#optDateModal').val(data.optDate);
                $('#editToken').val(data.token);
            },
            error: function (err) {
                alert(err.responseText);
            }
        })
    }

    $(document).ready(function () {
        //打开页面直接搜索
        search();
    //-------------------------新建----------------------------
        //新建模态框
        $('#areaAddBtn').click(function () { // 新建
            ajaxToken(); //获取token

            $('#areaNewModal').modal({ keyboard: false, backdrop: 'static' }).on('hidden', function () {
                search();
            })
        });


        function ajaxToken() { //新建获取token
            $.ajax({
                type: 'GET',
                url: host + 'area/create',
                success: function (data) {
                    console.log(data);
                    $('#newToken').val(data.token);
                },
                error: function (err) {
                    alert(err.responseText);
                }
            })
        }

//-------------------------新建保存------------------------------
        $('#areaNewSubmit').click(function () {
            $('#areaNewForm').ajaxForm({  //ajaxForm
                beforeSubmit: function() {

                },
                success: function(data) {
                    alert('保存成功！');
                    console.log(data);
                    $('#areaNewModal').modal('hide');
                },
                error: function(err) {
                    alert(err.responseText)
                }
            });

        });

//----------------------------查询-----------------------------

        //ajax请求
        $('#areaSearch').click(function () { //查询按钮
           search();
        });

        $('#areaRefreshBtn').click(function () { //刷新按钮
            search();
        });


        //请求表格数据list

        function search(){
            var params = {
                "areaCode": $('#areaCodeSearch').val(),
                "areaName": $('#areaNameSearch').val(),
                "regionCode": $('#regionCodeSearch').val(),
                "regionName": $('#regionNameSearch').val(),
                "status": $('#statusSearch').val()
            };
            var page = 0;
            var size = 1000;
            $.ajax({
                contentType: "application/json",
                url: host + 'area/list?page='+ page + '&size=' + size,
                type: 'POST',
                data: JSON.stringify(params),
                dataType: 'json',
                beforeSend: function () {

                },
                success: function (data) {
                    console.log(data);
                    var areaTableDate = data.content;

                    renderTable(areaTableDate);


                },
                error: function (err) {
                    alert(err.responseText);
                }
            })
        }

//--------------------渲染表格------------------------


        function renderTable(data) {
            if ($('#arMaTable').hasClass('dataTable')) { //刷新表格
                var tableData;
                tableData = $('#arMaTable').dataTable();
                tableData.fnClearTable(); //清空一下table
                tableData.fnDestroy(); //还原初始化了的datatable
            }

            data.forEach(function (value, index, arr) {
                if(arr[index].status == '0'){
                    return arr[index].status = '启用';
                }else {
                    return arr[index].status = '停用';
                }
            });

            $('#arMaTable').DataTable({
                data: data,
                columns: [
                    { title: '区域代码', data: 'areaCode' },
                    { title: '区域名称', data: 'areaName' },
                    { title: '关区代码', data: 'regionCode' },
                    { title: '关区名称', data: 'regionName' },
                    { title: '状态', data: 'status' }

                ],
                "columnDefs" : [ {
                    "title": '操作',
                    "targets" : 5,//操作按钮目标列
                    "data" : null,
                    "render" : function(data, type, row) {
                        var id = '"' + row.id + '"';
                        var html = "<button onclick='selectQyEdit("+ id + ")' class='editID btn btn-success btn-xs'>编辑</buttonid>";

                        return html;
                    }
                } ],
                "retrieve": true,
                "paging": true,
                "searching": false,
                "bLengthChange": false,
                "ordering": false,
                language: {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                }
            });
        }


//-----------------------编辑保存---------------------------

        $('#areaEditSubmit').click(function () {
            console.log('edit');
            console.log(selectQyId);
            var params = {
                "areaCode": $('#areaCodeModal').val(),
                "areaName": $('#areaNameModal').val(),
                "regionCode": $('#regionCodeModal').val(),
                "regionName": $('#regionNameModal').val(),
                "status": $('#statusModal').val(),
                "createName": $('#createNameModal').val(),
                "createDate": $('#createDateModal').val(),
                "optName": $('#optNameModal').val(),
                "optDate": $('#optDateModal').val(),
                "token": $('#editToken').val(),
                'id': selectQyId
            };
            $.ajax({
                contentType: "application/json",
                url: host + 'area/update',
                type: 'POST',
                data: JSON.stringify(params),
                dataType: 'json',
                success: function (data) {
                    console.log('success');
                    $('#areaEditModal').modal('hide');
                    search();

                },
                error: function(err) {
                    alert(err.responseText);
                }
            });
        });

    });
</script>
</body>
</html>